**/log

*.jpg
*.png
*.txt

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
*.o
cvpods.egg-info/
build/
dist/
wheels/

tools/pods_test
tools/pods_train

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/models
/playground_test
/playground/vis/blendmask_feature_alignment
/playground/vis/masktrackrcnn_explore
/playground/vis/sipmask_explore
/playground/vis/detr_explore

# exclude
!requirements*.txt

# polarmask
cvpods/configs/polarmask_config.py
cvpods/modeling/losses/polarmask_loss.py
cvpods/modeling/meta_arch/polarmask/
playground/detection/coco/polarmask/

# tools
tools/visualize_vis_json_results_for_debug.py
tools/visualize_vis_json_results_only_seg.py
tools/useless_tools
